
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<!-- PRICE ITEM -->
	<div class="panel panel-default">
		<div class="panel-heading  text-center">
			<h4>Basic</h4>
		</div>
		<div class="panel-body text-center">
			<h3><strong>FREE</strong></h3>
		</div>
		<ul class="list-group list-group-flush text-center">
			<li class="list-group-item">First Month: Free Unlimited</li>
			<li class="list-group-item">1 prompt per month</li>
			<li class="list-group-item">No Weekly Email Summaries</li>
		</ul>
		<div class="panel-footer">
			<a class="btn btn-block btn-custom btn-lrg" href="#">Sign Up</a>
		</div>
	</div>
	<!-- /PRICE ITEM -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<!-- PRICE ITEM -->
	<div class="panel panel-default">
		<div class="panel-heading arrow_box text-center">
			<h4>Standard</h4>
		</div>
		<div class="panel-body text-center">
			<h3><strong>$5 / month</strong></h3>
		</div>
		<ul class="list-group list-group-flush text-center">
			<li class="list-group-item">First Month: Free Unlimited</li>
			<li class="list-group-item">5 prompts per month</li>
			<li class="list-group-item">Weekly Feedback Summary</li>
		</ul>
		<div class="panel-footer">
			<a class="btn btn-block btn-custom btn-lrg" href="#">Purchase</a>
		</div>
	</div>
	<!-- /PRICE ITEM -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<!-- PRICE ITEM -->
	<div class="panel panel-default">
		<div class="panel-heading arrow_box text-center">
			<h4>Premium</h4>
		</div>
		<div class="panel-body text-center">
			<h3><strong>$25 / month</strong></h3>
		</div>
		<ul class="list-group list-group-flush text-center">
			<li class="list-group-item">First Month: Free Unlimited</li>
			<li class="list-group-item">Unlimited prompts</li>
			<li class="list-group-item">Weekly Feedback Summary</li>
		</ul>
		<div class="panel-footer">
			<a class="btn btn-block btn-custom btn-lrg" href="#">Purchase</a>
		</div>
	</div>
	<!-- /PRICE ITEM -->
</div>
