<div class="container">
  <div class="row">
    <div class="content-display">
      <div class="content header-text landing-page-action">
        <div class="col-xs-10 col-xs-offset-1">
          <h4 class="no-margin">Start getting feedback from your audience today</h4>
          <hr/>
          <%= link_to 'Login with Twitter', signin_path, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
