<div class="container">
  <div class="row">
    <div class="content-display">
      <div class="content">
        <div class="col-md-6 col-md-offset-3 text-center">
          <br>
          <%= image_tag current_user.image_url, class: "img-circle profile-image" %>
          <br>
          <br>
          <%= current_user.short_name %>
          <br>
          <hr/>
          <%= render 'form' %>
          <% if current_user.prompts.present? %>
          <p>
            By creating a new prompt, you will close out all previous prompts. You can only have one prompt open at a time.
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

