<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'users/user_details', { :@user => current_user } %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Create a new prompt now</h4>
      <%= render 'form' %>
      <% if current_user.prompts.present? %>
      <p>
        By creating a new prompt, you will close out all previous prompts. You can only have one prompt open at a time.
      </p>
      <% end %>
    </div>
  </div>
</div>


