<%= form_for [@prompt, @response] do |f| %>
  <% if @prompt.errors.any? %>
    <%= render 'shared/error_messages', { :@object => @response} %>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, rows: 5, :placeholder => "Enter your feedback here.", class: 'form-control' %>
  </div>

  <%= f.hidden_field :prompt_id %>

  <div class="form-group">
    <button type="submit" class="btn btn-custom btn-block">Give Feedback</button>
  </div>
<% end %>
