<footer>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <nav>
        <ul class="list-unstyled list-inline text-center">

          <li><a href="mailto:pjg5005@gmail.com">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-3 text-center">
      <nav>
        <ul class="list-unstyled list-inline">
          <li class="lead"><a href="https://twitter.com/paulgonz6" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="lead">&nbsp;</li>
          <li class="lead"><a href="https://github.com/paulgonz6/saucepan_app" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
